body,html {
         background-color: white;
         color: #575757;
         width: 100%;
         height:100%;
         margin: 0;
         font-family: nobel, sans-serif;
         font-style: normal;
         scroll-behavior: smooth;
      padding: 0;
       }

h1 {
  font-family: nobel, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h2 {
  font-family: nobel, sans-serif;
  font-weight: 30;
  font-style: normal;
  font-size: 20px;
}

p {
  margin-top: 2s;
  margin-bottom: 2%;
  font-family: nobel, sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

a {
  text-decoration: none;
  color: #575757;
  transition: 0.3s;
}

a:hover {
  color: #8d8d8d;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.page-content {
  width: 100%;
}

#profile {
  width: 650px;
}


/**Navigation bar**/
#nav {
    left: 0%;
    right:0%;
    background-color: white;
    position: fixed;
    top: 0;
    display: block;
    transition: top 0.5s;
    box-shadow: 2px 2px 5px #aaaaaa;
    z-index: 1;
}

.nav-item:first-child {
    float: left;
    font-weight: 500;
}

.nav-item {
  color: #2a2d34;
  float: right;
  display: block;
  text-align:center;
  padding: 22px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.nav-item:hover {
  color: #2a2d34;
  transition: 0.5s;
}

.nav-item:hover:after {
  transform: scaleX(1);
}

.nav-item::after{
  display: block;
  content:'';
  border-bottom: solid 3px #d3cbf5;
  transform: scaleX(0);
  transition: 350ms ease-in-out;
  transform-origin: 0% 50%;
}

/**HOME SECTION**/

#home-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

#landing-container {
  padding-right: 5%;
}

#landing-text {
  max-width: 90%;
  text-align: center;
}

.title {
  max-width: 100%;
  font-size: 200%;
  margin-top: 35%;
  margin-bottom: 2%;
  background: #004FF9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFF94C, #004FF9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
 text-align: center;
}

#app {
  font-size: 150%;
}

.arrow {
  border: solid black;
  border-color: #575757;
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.3s;
  animation: bounce 2s infinite;
  margin: 30px;
}

.arrow:hover {
  opacity: 40%;
  transform: scale(1.25) rotate(45deg);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-30px) rotate(45deg);
  }
  60% {
    transform: translateY(-15px) rotate(45deg);
  }
}

/**About**/
#about-section {
  background-color: #f0f0f0;
  padding: 80px;
  min-height: 100vh;
}

#about-img {
  height: 450px;
  border-radius: 5px;
  box-shadow: 5px 5px 1px #d7d3e7;
  overflow-y:hidden;
  margin: 4px;
  margin-top: 4px;
}

#img-console {
    width: 100%;
}

#console {
    margin: 40px;
    margin-top: 30px;
    padding: 30px;
    line-height: 22px;
    overflow-y: auto;
    height: 390px;
    width: 550px;
    font-size: 90%;
    font-family: Monaco, monospace;
    border-top: 5px solid #e5e5e5;
    background-color: #2a2d34;
}

ul {
  margin: 0;
  padding-left: 24px;
}

.first-color {
 color:rgba(236, 178, 69, 0.877)
}

.second-color {
  color: #ac78c2;
}

.third-color {
  color: #c5653f;
}

.fourth-color {
 color: #f0f0f0;
}

.fifth-color {
  color: #5085b6;
}

/**EDUCATION**/

text .subtitle {
  margin-bottom: 40px;
}

#education-section {
  padding-top: 5px;
  padding-bottom: 0px;
  min-height: 100vh;
  background-color: #474d5a;
}

#education-section * {
  color:white;
}

#education-title img {
  width: 100px;
}

#school {
  align-items: flex-start;
  margin: 15px;
  font-size: 15px;
}

#school p {
  font-size: 24px;
}

#school * {
  margin:14px;
}

#coursework {
  align-items: flex-start;
  font-size: 120%;

}

li {
  margin: 5px;
}

ul {
  list-style-type: circle;
  font-weight: 300;

}

#progress {
  font-size: 80%;
}

/**PROJECTS**/

#project-section {
  margin: 50px;
}

.each-project {
	position: relative;
	height: 350px;
	width: 350px;
	margin: 3%;
}

.proj-img {
  width: 350px;
  height: 350px;
  border-radius: 6px;
}

.proj-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .4s, visibility .4s;
}

.each-project {
  position: relative;
  height: 350px;
  width: 350px;
  margin: 3%;
  display: block;
}

.each-project:hover .proj-description {
	visibility: visible;
	opacity: 0.9;
}

.proj-description:hover {
  opacity: 1;
}

.img-description {
  transition: .5s;
  color: #575757;
  text-align: center;
  margin-left: 25px;
  margin-right: 25x;
  padding-left: 25px;
  padding-right: 25px;
}

.img-description p, .img-description i {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: 100;
  line-height: 25px;
}

.img-description:hover {
  opacity: 1;
}

.img-description i {
  font-size: 12px;
}

/**Footer**/

#footer {
  height: 6em;
  text-align: center;
  background-color: #f1f0f0;
}

#social-container * {
  padding: 6px;
  margin-bottom: 3px;
}

#social-container a {
  color: #575757;
  transition: .2s;
}

#social-container a:hover {
  color: #dbdbdb;
}
#copyright {
    color: rgba(204, 204, 204, 0.884);
    font-size: 12px;
}
